#dropdown-main {
  width: 80%;
  margin: 50px auto;
  display: grid;
  grid-template-rows: 20px 200px 50px auto;
  justify-items: center;
  gap: 32px;
  height: auto;
  h2 {
    text-align: center;
  }
}

.dropdown {
  --animation: slideDown;
  --animation-time: 0.3s;
  width: 500px;
  position: relative;
  display: grid;
  place-content: center;
  margin: 16px auto 90px auto;
  button {
    background: var(--secundary);
    color: var(--on-secundary);
    width: 200px;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  .dropdown-container {
    --margin-dropdown: 20px;
    width: 50%;
    border: none;
    position: absolute;
    top: calc(
      100% + var(--margin-dropdown)
    ); /* separa del botón sin crear “hueco de hover” */
    left: 0;
    transform: translate(50%, 0%);
    z-index: 10;
    transition: all 0.3s ease;
    pointer-events: none;
    visibility: hidden;
    interpolate-size: allow-keywords;
    opacity: 0;
    &::before {
      content: "";
      position: absolute;
      top: calc(
        0% - var(--margin-dropdown)
      ); /* Cubre el espacio vacío de 10px arriba */
      left: 0;
      width: 100%;
      height: var(--margin-dropdown); /*Esto cambiarlo por el tamaño tambien*/
    }

    ol {
      list-style: none;

      li {
        width: 100%;
        padding: 8px;
        border-bottom: 1px solid;
        &:hover {
          background: var(--primary);
          a {
            color: var(--on-primary);
          }
        }
      }
      li:last-child {
        margin-bottom: none;
      }
      a {
        width: 100%;
        text-decoration: none;
        color: var(--on-surface-container);
      }
    }
  }
  button:hover + .dropdown-container,
  button:focus + .dropdown-container,
  .dropdown-container:hover {
    visibility: visible;
    pointer-events: all;
    background: var(--surface-container-low);
    animation: var(--animation) var(--animation-time) ease forwards;
  }
}
